@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header__square-pic {
    width: 568px;
    height: 568px;
    border: #2f80ed;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
    animation: rot 20s infinite linear;
    overflow: hidden;
}

@media screen and (max-width: 1277px) {
    .header__square-pic {
        width: 497px;
        top: 111px;
    }
}

@media screen and (max-width: 531px) {
    .header__square-pic {
        left: 175px;
    }
}