.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}

@media screen and (max-width: 1100px) {
    .footer__column_content_copyright {
        flex-basis: 497px;
    }
}

@media screen and (max-width: 870px) {    
    .footer__column_content_copyright {
        flex-basis: 250px;
    }
}

@media screen and (max-width: 531px) {   
    .footer__column_content_copyright {
        flex: 1 1 400px;
    }
}