.resources {
    padding-top: 100px;
    padding-bottom: 217px;
}

@media screen and (max-width: 870px) {
    .resources {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 420px) {
    .resources {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}