.digits {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 870px) {
    .digits {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}

@media screen and (max-width: 420px) {
    .digits {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}