.video__iframe {
    width: 515px;
    height: 316px;
}

.video__iframe:first-of-type {
    margin-right: 20px;
}

@media screen and (max-width: 1100px) {
    .video__iframe {
            flex-basis: 70%;
        }

    .video__iframe:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 531px) {
    .video__iframe {
            flex-basis: 85%;
        }
}