@import url(page/page.css);

@import url(blocks/header/header.css);
@import url(blocks/header/__logo/logo_place_header.css);
@import url(blocks/header/__title/header__title.css);
@import url(blocks/header/__subtitle/header__subtitle.css);
@import url(blocks/header/__link/header__link.css);
@import url(blocks/header/__square-pic/header__square-pic.css);
@import url(blocks/header/__main-illustration/header__main-illustration.css);

@import url(blocks/description/description.css);

@import url(blocks/two-columns/two-columns.css);
@import url(blocks/two-columns/two-columns_brief/two-columns_brief.css);
@import url(blocks/two-columns/two-columns_main-text/two-columns_main-text.css);
@import url(blocks/two-columns/two-columns_main-text/two-columns_paragraph/two-columns_paragraph.css);
@import url(blocks/two-columns/two-columns_main-text/two-columns_span-accent/two-columns_span-accent.css);

@import url(blocks/techniques/techniques.css);

@import url(blocks/section-titles/section-titles.css);
@import url(blocks/section-titles/section-title/section-title.css);
@import url(blocks/section-titles/section-subtitle/section-subtitle.css);

@import url(blocks/cards/cards.css);
@import url(blocks/cards/__item/cards__item.css);
@import url(blocks/cards/__item/__image/cards__image.css);
@import url(blocks/cards/__item/__title/cards__title.css);
@import url(blocks/cards/__item/__description/cards__description.css);

@import url(blocks/video/video.css);
@import url(blocks/video/__iframes/video__iframes.css);
@import url(blocks/video/__iframes/__iframe/video__iframe.css);

@import url(blocks/oakley/oakley.css);

@import url(blocks/feynman/feynman.css);
@import url(blocks/feynman/__title/feynman__title.css);
@import url(blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(blocks/feynman/__link/feynman__link.css);

@import url(blocks/digits/digits.css);

@import url(blocks/table/table.css);
@import url(blocks/table/__cell/table__cell.css);
@import url(blocks/table/__cell/__heading/table__heading.css);
@import url(blocks/table/__cell/__text/table__text.css);

@import url(blocks/khan/khan.css);
@import url(blocks/khan/__container/khan__container.css);
@import url(blocks/khan/__container/__author/khan__author.css);
@import url(blocks/khan/__container/__title/khan__title.css);
@import url(blocks/khan/__container/__quote/khan__quote.css);
@import url(blocks/khan/__container/__quote-author/khan__quote-author.css);
@import url(blocks/khan/__container/__quote-author-subline/khan__quote-author-subline.css);
@import url(blocks/khan/__container/__book-container/khan__book-container.css);
@import url(blocks/khan/__container/__book-pic-container/khan__book-pic-container.css);
@import url(blocks/khan/__container/__book-pic/khan__book-pic.css);
@import url(blocks/khan/__container/__buy-link/khan__buy-link.css);

@import url(blocks/kaufman/kaufman.css);
@import url(blocks/kaufman/__triangle/kaufman__triangle.css);

@import url(blocks/resources/resources.css);
@import url(blocks/resources/__logo-zone/resources__logo-zone.css);
@import url(blocks/resources/__logo-zone/__logo/resources__logo.css);
@import url(blocks/resources/__link/resources__link.css);

@import url(blocks/footer/footer.css);
@import url(blocks/footer/footer_author/footer_author.css);
@import url(blocks/footer/footer_column-heading/footer_column-heading.css);
@import url(blocks/footer/footer_column-link/footer_column-link.css);
@import url(blocks/footer/footer_column-link_list-item/footer_column-link_list-item.css);
@import url(blocks/footer/footer_column-links/footer_column-links.css);
@import url(blocks/footer/footer_social-icon/footer_social-icon.css);
@import url(blocks/footer/logo_place_footer/logo_place_footer.css);
@import url(blocks/footer/__column_content_copyright/footer__column_content_copyright.css);
@import url(blocks/footer/footer__column_content_info/footer__column_content_info.css);
@import url(blocks/footer/__columns/footer__columns.css);

