.video {
    padding-top: 100px;
}

@media screen and (max-width: 870px) {
    .video {
        padding-top: 65px;
    }
}

@media screen and (max-width: 420px) {
    .video {
        padding-top: 45px;
    }
}