.cards {
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {    
    .cards {
        width: 70%;
    }
}

@media screen and (max-width: 870px) {
    .cards {
        width: 100%;
    }
}