.cards__description {
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

@media screen and (max-width: 420px) {
    .cards__description {
        text-align: left;
    }
}