* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Helvetica Neue',
        'Arial',
        sans-serif;
    margin: 0 auto;
}

.header {
    background-color: #f2f2f2;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.logo_place_header {
    width: 228px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 2;
}

.header__title {
    width: 730px;
    margin-left: 64px;
    display: flex;
    align-items: center;
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
    z-index: 2;
}

.header__subtitle {
    position: absolute;
    z-index: 2;
    font-size: 18px;
    line-height: 25px;
    width: 388px;
    bottom: 30px;
    left: 64px;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__square-pic {
    width: 568px;
    height: 568px;
    border: #2f80ed;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
    transform: rotate(15deg);
    animation: rotation 20s infinite linear;
}

.header__main-illustration {   
    background-image: url(../images/two_again.png); 
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.description {
    padding-top: 100px;
    padding-bottom: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.two-columns_brief {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #2f80ed;
    width: 175px;
    align-self: flex-start;
}

.two-columns_main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns_paragraph {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 30px;
}

.two-columns_paragraph:last-child {
    padding-bottom: 0;
}

.two-columns_span-accent {
    font-weight: 600;
}

.digits {
    padding-bottom: 100px;
}

.section-titles {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.section-title_margin_bottom {
    margin-bottom: 20px;
}

.section-title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
}

.section-subtitle {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table__cell {
    width: 250px;
    padding-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}

.table__text {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.feynman {
    height: 890px;
    background-color: #f2f2f2;
    background-image: url(../images/feynman.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 867px 637px;
    position: relative;
    padding-top: 100px;
}

.feynman__title {
    width: 648px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
}

.feynman__subtitle {
    margin-top: 70px;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}

.kaufman {
    background-color: #1f1f1f;
    padding-top: 90px;
    padding-bottom: 90px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.table__cell_theme_dark {
    width: 200px;
    padding-top: 80px;
    z-index: 1;
}

.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
}

.footer {
    background-color: #1f1f1f;
    min-height: 350px;
    color: #fff;    
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__columns {
    width: 90%;
    min-height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}

.logo_place_footer {
    width: 228px;
    height: 32px;
}

.footer_author {
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
}

.footer_column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
}

.footer_column-links {
    margin-top: 20px;
    margin-bottom: 16px;
}

.footer_column-link_list-item {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
}

.footer_column-link {
    text-decoration: none;
    color: #fff;
}

.footer_social-icon {
    text-decoration: none;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
